body{
    background-image: url(../img/beijing.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.h {
    margin-top: 50px;
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
}

.head {
    width: 100%;
    height: 58px;
    box-sizing: border-box;
}


.container {
    padding-left: 88px;
    padding-right: 88px;
}

.h1 {
    color: rgb(255, 180, 0);
    font-size: 36px;
    font-family: "宋体";
    font-weight: bold;
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}




.box {
    font-size: 20px;
    font-family: "宋体";
}

.input {
    display: inline-block;
    width: 100px;
    height: 30px;
    background: linear-gradient(#999, #fff);
    position: absolute;
    right: 240px;
    bottom: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
}

.button {
    display: inline-block;
    background: linear-gradient(#999, #fff);
    color: black;
    border-left: black solid 0.5px;
    height: 30px;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 178px;
    bottom: 14px;
    font-size: 18px;
}

.button>a{
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #eee;
    bottom: 15px;
}
.content{
  
    margin-top: 110px;
    width: 100%;
    display: flex;
}

.content-left{
    width: 14%;
    background-color: rgba(255,255,255,0.8);
    padding-left: 20px;
}
.content-left>span{
    font-size: 20px;
    color: black;
}
.content-left>input{
    width: 140px;
}
.content-left>button{
    width: 80px;
    height: 30px;
    background: linear-gradient(#999, black);
    color: white;
}
.buttom{
   width: 80%;
   margin-left: 50px;
   margin-top: 50px;
   text-align: center;
  
}
h4{
    font-size: 32px;
    font-family: "宋体";
    font-weight: bold;
}

#dimg{
    width: 400px;
}

#a{
    font-size: 32px;
    font-family: "宋体";
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.buttom>div{
    display: flex;
}
.buttom>div>div:first-child{
    width: 45%;
    font-size: 16px;
    padding: 20px;

}
.buttom>div>div:last-child{
    width: 55%;
}

#info-box{
    border-radius: 50px;
}

#dimg{
    border-radius: 50px;
}
